.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 75px;
    line-height: 33px;
    width: 100px;
    border-radius: 15px;
    position: fixed;
    top: 33px;
    left: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
}
.navigation a{
    display: block;
    color: blue;
    text-decoration: none;
}